<%=render partial: "shared/userin_main_nav" %>
<%=render partial: "shared/main_start" %>
<section class = "user_main">
  <!--HEADER-->
  <main class="page">
    <header class ="hero">
      <div class="hero-container">
        <div class="hero-text">
          <h1>See what your classmates are saying about their classes!</h1>
          <%= link_to "Find Your School", find_school_path, class: "btn"%>
        </div>
      </div>
    </header>
  </main>
  </body>
  </html>
</section>
<!--FOOTER-->
<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>