<%=render partial: "shared/navbar_setup" %>
<%=render partial: "shared/main_start" %>

<section class = "find_school-page">

<%= form_with url: colleges_path, class:"form searchft", method: :get do |form| %>
  <%= form.text_field :query, placeholder:"Search", class: "form-input search_area"%>
  <%= form.submit "Search", class:"btn btn-block search_btn"%>
<% end %>

  <div class="basic_container school_table_container">
    <table class="school_table">
      <tr class="school_table_header">
        <th>Name</th>
        <th>City</th>
        <th>State</th>
      </tr>
      <%= @colleges.each do | college | %>
      <tr class="school_table_data">
        <td>
          <%= link_to college.name, college_path(college)%>
        </td>
        <td>
         <%= college.city %>
        </td>
        <td>
        <%= college.state %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</section>

<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>


