<!--TITLE NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<!--MAIN-->
<%=render partial: "shared/main_start" %>
<section class = "colleges-page">
    <div class="colleges-page_header">
      <h2>
      <%= @college.name %>
      </h2>

      <%= link_to "Add a Course", new_college_course_path(@college), class:"btn btn-block add-course_btn" %>
    </div>   
    <div class = "basic_container courses_in_colleges_container" >
      <h4>
        Courses | <%=@college.name%>
      </h4>
      <table class = courses_at_college_table>
        <tr class="college_courses_header">
            <th>Overall Rating</th>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Number of Reviews</th>
        </tr>
        
        <% @college.courses.sort_by { |c| c.average_rating }.reverse.each do | course | %>
          <tr class="course_at_college">
            <td>
            <%if course.reviews.any?%>
              <%=course.average_rating%>
            <%else%> 
              No reviews
            <%end%>
            </td>
            <td>
              <%= link_to course.name, course_path(course)%>
            </td>
            <td>
            <%= link_to course.course_id, course_path(course) %>
            </td>
            <td>
            <%=course.reviews.count%>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
</section>

<!--FOOTER-->
<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>


