<!---list all courses--->
<!--TITLE NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<%=render partial: "shared/main_start" %>

<section class = "find_course-page">
  <%= form_with url: courses_path, class:"form searchft", method: :get do |form| %>
    <%= form.text_field :query, placeholder:"Search", class: "form-input search_area"%>
    <%= form.submit "Search", class:"btn btn-block search_btn"%>
  <% end %>

    <% if user_signed_in? %>
      <%= link_to "Add a Course", colleges_path, class:"btn btn-block add-course_btn", add_course: true %>
      <!---<%add_course = true%>--->
    <%end%>

  <div class="basic_container courses_table_container">
    <table class="courses_table">
      <tr class="courses_table_header">
        <th>Course Name</th>
        <th>Course Number</th>
        <th>College</th>
      </tr>
      <% @courses.each do | course | %>
        <tr class="courses_table_data">
          <td>
            <%= link_to course.name, course_path(course)%>
          </td>
          <td>
          <%= link_to course.course_id, course_path(course)  %>
          </td>
          <td>
          <%= link_to course.college.name, college_path(course.college) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>

<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>
