<!--TITLE NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<%=render partial: "shared/main_start" %>

<section class = "find_course-page">
  <%= form_with url: courses_path, class:"form searchft", method: :get do |form| %>
    <%= form.text_field :query, placeholder:"Search", class: "form-input search_area"%>
    <%= form.submit "Search", class:"btn btn-block search_btn"%>
  <% end %>

    <div class="basic_container school_table_container">
      <table class="school_table">
        <tr class="school_table_header">
          <th>Name</th>
          <th>Course Number</th>
          <th>College</th>
        </tr>
        <%= @courses.each do | courses | %>
        <tr class="school_table_data">
          <td>
            <%= link_to course.name, course_path(course)%>
          </td>
          <td>
          <%= course.course_id %>
          </td>
          <td>
          <%= course.college_id %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
</section>

<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>
