<!---TITLE NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<!--MAIN-->
<%=render partial: "shared/main_start" %>
<section class = "course_show-page">
  <h2>
    <%= @course.name %> | <%= link_to @course.college.name, college_path(@course.college) %>
  </h2>

  <div class = "basic_container reviews_in_course_container" >
    <div class = "course_reviews_header">
      <h4>
        Reviews | <%=@course.name%>
      </h4>

      <% if user_signed_in? %>
        <%=link_to "Add Review", new_course_review_path(@course), class:"btn btn-block add-review_btn" %>
      <%end%>
    </div>

    <% @course.reviews.each do | review | %>
    <div class="basic_container reviews_container">
      <i class="fas fa-star">
        <%= review.rating %>
      </i>

      <div class = "review_course_info">
        <%= review.semester %>
        <%= review.year %>
      </div>

      <div class="review_summary_display">
        <%= review.summary%>
      </div>

      <div class = "reviewer_info">
        <%= review.user.email%>
      </div>
    </div>
    <%end%>

  </div>

</section>

<!--FOOTER-->
<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>