<!--NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<!---REVIEW FORM--->

<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>

<!--TITLE NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<%=render partial: "shared/main_end" %>

<section class = "review-page">
  <article>
    <h2 class="review-page_h2">
      Write a Review
    </h2>

    <div class="basic_container review_container">
      <%= form_with model: @reviews do |form| %>
        <%= form.text_field :name%>
          <!--<div class="course_name_code">-->
          <%= review_course_name.text_field :name, placeholder:"Course Name", label:"Course Name", class:"course_name_code", class:"form-input course_name_input"%>
          <%= review_course_name.text_field :course_id, placeholder:"Course Code", label:"Course Code", class:"course_name_code", class:"form-input course_code_input"%>
        <%end%>
        <!--<div class="basic_container y_t_prof">-->
        <%= form.label :course_year, "Year:", class:"form-label course_year" %>
        <%= form.text_field :query,  class:"basic_container y_t_prof", class: "form-input course_year_input"%>

        <%=form.label :course_term, "Term:", class:"form-label course_term" %>
        <%=form.text_field :query,  class:"basic_container y_t_prof", class: "form-input course_term_input"%>
        
        <!--<%= form.label :course_prof, "Professor:", class:"form-label course_professor"%>
        <%= form.text_field :query,  class:"basic_container y_t_prof", class:"form-input course_prof_input"%>-->
        
        <!--<div class="basic_container rate_course">-->
        <div class="basic_container review_text_area">
          <div class="basic_container review_text_area_header">
            <h3>
              Review the Course
            </h3>
          </div>
        </div>
        <%form.text_area :message, size: "70x5", placeholder:"Write a review...", label:"Course Review", class:"form-input course_review_input"%>
        <%form.submit "Submit", class:"btn btn-block review_submit_btn", type:"submit"%>
      <%end%>
    </div>
  </article>
</section>

<%= form_with model: @review do |form| %>
        <%= form.text_field :name%>
        <%form.submit "Submit", class:"btn btn-block review_submit_btn", type:"submit"%>
      <%end%>



<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>