<!--NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<%=render partial: "shared/main_end" %>

<section class = "review-page">
  <article>
    <h2 class="review-page_h2">
      Write a Review
    </h2>
     <%= form_with url: course_reviews_path do |form| %>
      <%= form.label :summary, "Course Review"%>
      <%= form.text_field :summary, class:"form-input course_review_input"%>

      <%= form.label :semester, "Term"%>
      <%= form.select :semester, ["Fall", "Spring", "Summer"]%>

      <%= form.label :year, "Year"%>
      <%= form.select :year, 2016..2021%>
      
      <h4> Rating </h4>

      <%= form.label :rating, "1"%>
      <%= form.radio_button :rating, 1%>
      <%= form.label :rating, "2"%>
      <%= form.radio_button :rating, 2%>
      <%= form.label :rating, "3"%>
      <%= form.radio_button :rating, 3%>
      <%= form.label :rating, "4"%>
      <%= form.radio_button :rating, 4%>
      <%= form.label :rating, "5"%>
      <%= form.radio_button :rating, 5, checked: true%>
      
      <%= form.submit "Submit", class:"btn btn-block review_submit_btn"%>
    <%end%>
  </article>
</section>

<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>