<!--NAVBAR HEADER-->
<% if user_signed_in? %>
  <%=render partial:"shared/userin_main_nav"%>
<%else %>
  <%=render partial: "shared/navbar_setup"%>
<%end%>

<%=render partial: "shared/main_end" %>

<section class = "review-page">
  <article>
    <h2 class="review-page_h2">
      Write a Review
    </h2>

    <div class="basic_container review_container">
      <div class="course_name_code">
        <form accept-charset="UTF-8" action="/reviews" method="post">
          <input type="text" name="reviews[rating]"/>
          <input type="text" name="reviews[year]"/>
          <input type="text" name="reviews[semester]"/>
          <input type="text" name="reviews[summary]"/>
          <input type="submit" value="Submit" class="btn btn-block review_submit_btn"/>
        </form>
        
      </div>
    </div>
  </article>
</section>

<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>